@charset "UTF-8";
/* ------ Project Information --------
Author: Nan Zhang
*/
/* Import Open Props */
@import "https://unpkg.com/open-props";
/* -------------------
    PROJECT CUSTOM PROPERTIES
----------------------*/
:root {
  /* CU Colours */
  --cu-red: hsl(353, 65%, 52%);
  --cu-blue: hsl(224, 61%, 34%);
  --cu-blue-dark: hsl(222, 44%, 21%);
  --cu-sky: hsl(206, 100%, 33%);
  --cu-gold: hsl(41, 46%, 57%);
  --cu-gold-light: hsl(46, 44%, 69%);
  --navy-1:hsl(204, 29%, 28%);
  --navy-2:hsl(204, 14%, 46%);
  --navy-3:hsl(201, 27%, 20%);
  /* Neutral colour */
  --black: hsl(348, 7%, 13%);
  --white: hsl(0, 0%, 100%);
  --light: hsl(210, 17%, 98%);
  --neutral-0: hsl(0, 0%, 98%);
  --neutral-1:hsl(0, 0%, 96%);
  --neutral-2:hsl(0, 0%, 90%);
  --neutral-3:hsl(0, 0%, 83%);
  --neutral-4:hsl(0, 0%, 64%);
  --neutral-5:hsl(0, 0%, 45%);
  --neutral-6:hsl(0, 0%, 32%);
  --neutral-7:hsl(0, 0%, 25%);
  --neutral-8:hsl(0, 0%, 15%);
  --neutral-9:hsl(0, 0%, 9%);
  --clr-success:hsl(148, 100%, 25%);
  --clr-danger: hsl(4, 77%, 48%);
  /* Bootstrap Project theme */
  --clr-accent: hsl(353, 65%, 52%);
  --clr-h: 353;
  --clr-s: 65%;
  --clr-l: 52%;
  /* Accent colour shades */
  --clr-accent-1: hsl(var(--clr-h),
      var(--clr-s),
      calc(var(--clr-l) + (100% - var(--clr-l)) * 0.9));
  --clr-accent-2: hsl(var(--clr-h),
      var(--clr-s),
      calc(var(--clr-l) + (100% - var(--clr-l)) * 0.7));
  --clr-accent-3: hsl(var(--clr-h),
      var(--clr-s),
      calc(var(--clr-l) + (100% - var(--clr-l)) * 0.5));
  --clr-accent-4: hsl(var(--clr-h),
      var(--clr-s),
      calc(var(--clr-l) + (100% - var(--clr-l)) * 0.3));
  --clr-accent-5: hsl(var(--clr-h),
      var(--clr-s),
      calc(var(--clr-l) - var(--clr-l) * 0.2));
  --clr-accent-6: hsl(var(--clr-h),
      var(--clr-s),
      calc(var(--clr-l) - var(--clr-l) * 0.4));
  --clr-accent-7: hsl(var(--clr-h),
      var(--clr-s),
      calc(var(--clr-l) - var(--clr-l) * 0.6));
  --clr-accent-8: hsl(var(--clr-h),
      var(--clr-s),
      calc(var(--clr-l) - var(--clr-l) * 0.8));
  --clr-compliment: hsl(calc(var(--clr-h) + 180), var(--clr-s), var(--clr-l));
  --clr-body: var(--black);
  --clr-link: var(--cu-sky);
  --clr-border: hsl(216, 12%, 84%);
  --clr-header-bg: var(--gradient-23);
  --clr-footer-bg: var(--navy-3);
  --clr-main-bg: var(--light);
  --text-1: var(--neutral-8);
  --text-2: var(--neutral-7);
  --text-3: var(--neutral-5);
  /* Gradients */
  --gradient-accent: linear-gradient(45deg,
      var(--clr-accent),
      var(--clr-accent-6));
  --gradient-neutral: linear-gradient(45deg,
      var(--neutral-5),
      var(--neutral-8));
  --text-gradient: var(--gradient-23);
  /*Spacing*/
  --gap: var(--size-fluid-1);
  --flex-gap: var(--size-fluid-3);
  --grid-gap: var(--size-fluid-1);
  /* Typography */
  --ff-sans: "Inter", sans-serif;
  --ff-serif: var(--font-serif);
  --ff-mono: var(--font-mono);
  --fs-xs: clamp(0.74rem, 0.72rem + 0.08vw, 0.78rem);
  --fs-sm: clamp(0.83rem, 0.79rem + 0.20vw, 0.94rem);
  --fs-base: clamp(0.94rem, 0.86rem + 0.37vw, 1.05rem);
  --fs-lg: clamp(1.06rem, 0.94rem + 0.58vw, 1.35rem);
  --fs-xl: clamp(1.19rem, 1.02rem + 0.85vw, 1.62rem);
  --fs-2xl: clamp(1.34rem, 1.10rem + 1.19vw, 1.94rem);
  --fs-3xl: clamp(1.50rem, 1.18rem + 1.62vw, 2.33rem);
  --fs-4xl: clamp(1.69rem, 1.26rem + 2.17vw, 2.80rem);
}

/* ----------------------
	OVERALL RESET
-------------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:focus {
  outline: none;
}

/* ======================
    BASE CONTENT
=======================*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  line-height: 1.625;
  color: var(--clr-body);
  background-color: var(--clr-main-bg);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-sans);
  font-weight: var(--font-weight-7);
}

h1 {
  font-size: var(--fs-3xl);
  line-height: var(--font-lineheight-0);
}

h2 {
  font-size: var(--fs-xl);
  line-height: var(--font-lineheight-1);
}

h3 {
  font-size: var(--fs-lg);
  line-height: var(--font-lineheight-2);
}

h4 {
  font-size: var(--fs-lg);
  line-height: var(--font-lineheight-3);
}

a {
  color: var(--clr-link);
  text-decoration: none;
  position: relative;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-thickness: max(0.08em, 1.5px);
  text-underline-offset: 0.15em;
  color: var(--clr-link);
}

a[href^=mailto]::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: var(--size-1);
  font-size: var(--fs-xs);
}

a[target=_blank]:hover::after,
a[target=_blank]:focus::after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: var(--size-1);
  font-size: var(--fs-xs);
}

a[href^=mailto]:hover::before,
a[href^=mailto]:focus::before,
a[target=_blank]:hover::after,
a[target=_blank]:focus::after,
.link-action:hover::before,
.link-action:focus::before,
.action-link:hover::before,
.action-link:focus::before {
  text-decoration: none;
  display: inline-block;
}

/* action link */
a.link-action::before {
  content: "\f0a9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: var(--size-2);
  color: var(--clr-success);
  font-size: var(--fs-lg);
}

a.link-action:hover::after,
a.link-action:focus::after {
  content: none;
}

.action-link::before {
  content: "\f0a9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: var(--size-2);
  color: var(--clr-success);
  font-size: var(--fs-lg);
}

a.action-link:hover::after,
a.action-link:focus::after {
  content: none;
}

.page-header {
  margin-top: 0;
}

.page-header h1 {
  font-size: var(--fs-3xl);
  font-weight: var(--font-weight-3);
  margin-top: var(--size-6);
  margin-bottom: var(--size-2);
  color: var(--clr-accent);
}
.page-header h1 p {
  margin-bottom: 0 !important;
}

section {
  margin-bottom: var(--size-fluid-6);
}

/* Spacing */
section > *:where(:not(:last-child)),
.flow > *:where(:not(:last-child)),
.tab-pane > *:where(:not(:last-child)) {
  margin-bottom: var(--size-7);
}

section p + h2 {
  margin-top: var(--size-8);
}

section h2,
section h3 {
  margin-bottom: var(--size-2);
  margin-top: var(--size-4);
  color: var(--neutral-6);
}

section p:not(:last-child) {
  margin-bottom: var(--size-3);
}

/* reset the base style for list */
section ul,
section ol {
  padding: 0;
  margin-left: var(--size-5);
  display: grid;
  gap: var(--size-3);
}
section li {
  line-height: var(--font-lineheight-3);
}
section ul li,
section ol li {
  padding-left: var(--size-2);
}
section li ul {
  margin-top: var(--size-3);
}

.list-none {
  list-style-type: none;
  padding: 0;
}

.list-icon {
  list-style: none;
  margin-left: 0;
}
.list-icon li {
  display: flex;
}
.list-icon li span {
  margin-right: var(--size-3);
  color: var(--clr-accent);
  font-size: var(--fs-lg);
}

.list-counter {
  counter-reset: orderedlist;
  list-style-type: none;
  margin-left: var(--size-2);
}
.list-counter li {
  position: relative;
  padding-left: var(--size-8);
}
.list-counter li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  width: var(--size-5);
  height: var(--size-5);
  background: var(--gray-2);
  color: var(--gray-7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.image-inline {
  display: inline-block;
}

.image-full {
  width: 100%;
  height: auto;
}

.image-round {
  border-radius: var(--radius-2);
}

/* Styles to the screenshots */
.screenshots {
  border: 1px solid var(--clr-border);
  margin: 2rem auto;
  clear: both;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
}

figure img {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

figcaption {
  background: var(--gray-2);
  color: var(--text-3);
  font-size: var(--fs-sm);
  padding: var(--size-2);
  caption-side: bottom;
}

/* Table */
table {
  background: var(--white);
  box-shadow: var(--shadow-2);
  font-size: var(--fs-sm);
}

table,
table tr,
table td {
  border: none;
}

thead th {
  background: var(--navy-2);
  color: var(--light);
  font-weight: bold;
}

table tr td:not(:first-of-type) {
  border-left: 1px solid var(--clr-border);
}

thead th:not(:first-of-type) {
  border-left: 1px solid var(--light);
}

table tr:nth-child(even) {
  background: var(--light);
}

/* Quotes */
blockquote::before,
blockquote::after {
  content: none;
}

blockquote .quote::before {
  content: open-quote;
}

blockquote .quote::after {
  content: close-quote;
}

blockquote {
  font-family: var(--ff-sans);
  font-weight: 400;
  line-height: var(--font-lineheight-3);
  font-size: var(--fs-base);
  color: var(--neutral-6);
  margin: var(--size-5) 0;
  background: none;
  border: none;
  margin-left: 0;
  padding: var(--size-2) var(--size-5);
  border-left: 5px solid var(--neutral-6);
}

blockquote p {
  font-family: var(--ff-sans);
  font-weight: 400;
  line-height: var(--font-lineheight-3);
  font-size: var(--fs-base);
}

.source {
  font-size: var(--fs-sm);
  color: var(--neutral-4);
  text-align: right;
}

/* iframe Block */
.video-720 {
  max-height: 405px;
  max-width: 720px;
}

.iframe-container {
  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.32%;
  box-shadow: var(--shadow-3);
}
.iframe-container iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0;
}
.iframe-container--xerte, .iframe-container--h5p {
  border: 4px solid var(--clr-border);
}
.iframe-container--xerte {
  padding-bottom: 75%;
}
.iframe-container__caption {
  background: var(--light);
  color: var(--clr-body);
  font-style: italic;
  font-size: var(--fs-sm);
  padding: 4px;
  margin-top: 0;
}

/* horizontal rule */
/* Section break */
hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 0.0625rem solid var(--clr-border);
}

hr.section-break-l {
  margin: 48px 0;
}

hr.section-break-m {
  margin: 32px 0;
}

/* ------------------- */
/* UTILITY CLASSES     */
/* ------------------- */
.text-center {
  text-align: center;
}

/* Flex Utility Classes   */
.flex {
  display: flex;
  gap: var(--flex-gap);
}

/* Flex Direction */
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-100 {
  flex: 1 1 100px;
}

.flex-200 {
  flex: 1 1 200px;
}

.flex-300 {
  flex: 1 1 300px;
}

.flex-400 {
  flex: 1 1 400px;
}

.flex-500 {
  flex: 1 1 500px;
}

.flex-600 {
  flex: 1 1 600px;
}

/* Another Flex System */
.flexContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-block: var(--size-fluid-3);
}

.flexItem {
  width: 100%;
  padding: 0;
  margin-bottom: var(--flex-gap);
}

.flexItem h3 {
  margin-top: 0;
}

.flexItem h3.topMargin {
  margin-top: 34px;
}

.flexItem img {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  margin: 0 auto;
}

@media (min-width: 806px) {
  .c80 {
    width: 80%;
  }

  .c70 {
    width: 70%;
  }

  .c60 {
    width: 60%;
  }

  .c50 {
    width: 50%;
  }

  .c40 {
    width: 40%;
  }

  .c30 {
    width: 30%;
  }

  .c33 {
    width: 33.33%;
  }

  .c20 {
    width: 20%;
  }

  .c10 {
    width: 10%;
  }

  .flexItem {
    padding-right: var(--flex-gap);
    margin-bottom: 0;
  }
}
/* Grid Utility Classes */
.grid {
  display: grid;
  gap: var(--grid-gap);
}

.bg-red {
  background-color: var(--cu-red);
}

.bg-blue {
  background-color: var(--cu-blue);
}

.bg-blue-dark {
  background-color: var(--cu-blue-dark);
}

.bg-sky {
  background-color: var(--cu-sky);
}

.bg-gold {
  background-color: var(--cu-gold);
}

.bg-gold-light {
  background-color: var(--cu-gold-light);
}

.bg-navy-1 {
  background-color: var(--navy-1);
}

.bg-navy-2 {
  background-color: var(--navy-2);
}

.bg-navy-3 {
  background-color: var(--navy-3);
}

.bg-light {
  background-color: var(--light);
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-compliment {
  background-color: var(--clr-compliment);
}

.bg-success {
  background-color: var(--clr-success);
}

.bg-danger {
  background-color: var(--clr-danger);
}

.text-accent {
  color: var(--clr-accent);
}

.text-cu-red {
  color: var(--cu-red);
}

.text-cu-blue {
  color: var(--cu-blue);
}

.text-cu-blue-dark {
  color: var(--cu-blue-dark);
}

.text-cu-gold {
  color: var(--cu-gold);
}

.text-navy-1 {
  color: var(--navy-1);
}

.text-navy-2 {
  color: var(--navy-2);
}

.text-navy-3 {
  color: var(--navy-3);
}

.text-1 {
  color: var(--text-1);
}

.text-2 {
  color: var(--text-2);
}

.text-3 {
  color: var(--text-3);
}

.text-white {
  color: var(--white);
}

.text-success {
  color: var(--clr-success);
}

.text-danger {
  color: var(--clr-danger);
}

.text-gradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.uppercase {
  text-transform: uppercase;
}

.fs-4xl {
  font-size: var(--fs-4xl);
}

.fs-3xl {
  font-size: var(--fs-3xl);
}

.fs-2xl {
  font-size: var(--fs-2xl);
}

.fs-xl {
  font-size: var(--fs-2xl);
  line-height: 1.3;
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-base {
  font-size: var(--fs-base);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-xs {
  font-size: var(--fs-xs);
}

.shadow-1 {
  box-shadow: var(--shadow-1);
}

.shadow-2 {
  box-shadow: var(--shadow-2);
}

.shadow-3 {
  box-shadow: var(--shadow-3);
}

.shadow-4 {
  box-shadow: var(--shadow-4);
}

.shadow-5 {
  box-shadow: var(--shadow-5);
}

.shadow-6 {
  box-shadow: var(--shadow-6);
}

.shadow-inner-0 {
  box-shadow: var(--inner-shadow-0);
}

.shadow-inner-1 {
  box-shadow: var(--inner-shadow-1);
}

.shadow-inner-2 {
  box-shadow: var(--inner-shadow-2);
}

.shadow-inner-3 {
  box-shadow: var(--inner-shadow-3);
}

.shadow-inner-4 {
  box-shadow: var(--inner-shadow-4);
}

.square {
  aspect-ratio: var(--ratio-square);
}

.portrait {
  aspect-ratio: var(--ratio-portrait);
}

.ultrawide {
  aspect-ratio: var(--ratio-ultrawide);
}

.widescreen {
  aspect-ratio: var(--ratio-widescreen);
}

.landscape {
  aspect-ratio: var(--ratio-landscape);
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/* ======================
        HEADER
=======================*/
/* JUMBOTRON */
.jumbotron {
  background: var(--clr-header-bg) !important;
  padding: var(--size-fluid-6) var(--size-7);
  background-size: cover !important;
}

#overview.logoL .logoL {
  margin-top: 0;
  max-width: 90px;
}
#overview.logoL .container {
  display: flex;
  align-items: center;
}

#pageTitle {
  font-family: var(--ff-sans);
  color: var(--white);
  line-height: var(--font-lineheight-1);
  letter-spacing: 1px;
  margin-bottom: var(--size-fluid-1);
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
}

#pageSubTitle {
  font-weight: var(--font-weight-4);
  color: var(--white);
  padding-top: var(--size-1);
  font-size: var(--fs-lg);
  line-height: var(--font-lineheight-2);
  margin-bottom: 0;
}

.navbar {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: var(--size-3);
}

.navbar-inverse .navbar-inner {
  font-size: 1rem;
  font-weight: var(--font-weight-4);
  background: var(--neutral-6);
  box-shadow: none;
  border: 0;
}

.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a, .navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: var(--white);
  text-shadow: none;
  border-radius: 0;
  transition: 0.25s ease-in-out;
}

/* top navbar text colour when hover or focused */
.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
  background-color: var(--neutral-5);
  color: var(--light);
  box-sizing: border-box;
}

/* ======================
    SIDE NAVIGATION
=======================*/
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background: var(--clr-accent);
}

.nav-list > li > a {
  color: var(--clr-body);
  font-size: var(--fs-sm);
}

/* ======================
    FOOTER
=======================*/
.footer {
  padding-block: var(--size-fluid-5);
  position: relative;
  background-color: transparent !important;
  border: 0;
}

.footer::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  left: calc(-50vw + 50%);
  z-index: -1;
  top: 0;
  background-color: var(--clr-footer-bg);
}

.footer p {
  margin-bottom: 0;
  text-align: center;
  color: var(--white);
}

.footer a {
  color: var(--white);
  text-decoration: underline;
}

.footer a:hover, .footer a:focus {
  text-decoration: none;
}

.footer-logo {
  max-width: 250px;
  height: auto;
  margin: auto;
}

/* Callout component */
.callout {
  background: var(--gray-2);
  padding: var(--size-5);
  padding-left: var(--size-8);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
  position: relative;
}
.callout::before {
  content: "☝️";
  font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
  position: absolute;
  top: var(--size-3);
  left: var(--size-3);
  font-size: var(--font-size-4);
}
.callout h4 {
  font-size: var(--fs-base);
  margin-top: 0;
  margin-bottom: var(--size-2);
}
.callout.warning {
  background-color: var(--yellow-1);
  border: 1px solid var(--yellow-2);
}
.callout.warning::before {
  content: "⚠️";
}
.callout.danger {
  background-color: var(--red-1);
  border: 1px solid var(--red-2);
}
.callout.danger::before {
  content: "❌";
}
.callout.info {
  background-color: var(--blue-1);
  border: 1px solid var(--blue-2);
}
.callout.info::before {
  content: "ℹ️";
}

/* Example block */
.example {
  padding: 3em 1em;
  border: 1px solid var(--clr-border);
  position: relative;
  background: var(--white);
}
.example::before {
  content: "example";
  position: absolute;
  font-size: var(--font-size-0);
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  padding: 8px;
  background: var(--navy-2);
  border-bottom-right-radius: 4px;
}
.example > *:last-child {
  margin-bottom: 0;
}

/* Box Block */
/* A simple box component that add some space, round corner and shadows around content */
.box {
  border-radius: var(--radius-2);
  border: 1px solid var(--clr-border);
  padding: var(--size-fluid-1);
  box-shadow: var(--shadow-1);
}
.box.box-icon {
  display: flex;
  gap: var(--gap);
}
.box.box-icon > i, .box.box-icon > span.fas {
  line-height: inherit;
}

.box__title {
  font-size: var(--fs-base);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: var(--size-2);
}

.box > *:last-child {
  margin-bottom: 0;
}

.box .svg-icon {
  flex: none;
  width: var(--size-4);
  height: var(--size-4);
}

/* Button Components */
a.button {
  text-decoration: none;
}

button.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}
@media screen and (-ms-high-contrast: active) {
  button.button {
    border: 2px solid currentColor;
  }
}

a.button, button.button {
  display: inline-flex;
  gap: var(--size-2);
  align-items: center;
  justify-content: center;
  align-self: start;
  background-color: var(--clr-accent);
  color: var(--white);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.2;
  transition: 200ms all ease-in-out;
}
a.button:hover, a.button:active, button.button:hover, button.button:active {
  /*background-color: scale-color($btnColour, $lightness: +20%);*/
  background-color: hsl(var(--clr-h), var(--clr-s), calc(var(--clr-l) * 1.2));
}
a.button:focus, button.button:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px hsl(var(--clr-h), var(--clr-s), calc(var(--clr-l) * 1.4));
}
a.button--outline, button.button--outline {
  background-color: #ffffff;
  color: var(--clr-accent);
  border: 2px solid currentColor;
}
a.button--outline:hover, button.button--outline:hover {
  background-color: var(--clr-accent);
  color: #ffffff;
  border-color: var(--clr-accent);
}
a.button--small, button.button--small {
  font-size: var(--fs-sm);
}
a.button--block, button.button--block {
  width: 100%;
}

.btn-mini {
  font-size: var(--fs-sm);
  color: var(--white);
  background: hsl(var(--clr-h), var(--clr-s), calc(var(--clr-l) * 1.2));
  text-shadow: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.4, -1.5, 0.27, 1.55) !important;
  transform: scale(0.9);
  z-index: 2;
}

.btn-mini:hover,
.btn-mini:focus {
  background: hsl(var(--clr-h), var(--clr-s), calc(var(--clr-l) * 1.2));
  color: var(--white);
  transform: scale(1);
}

.btn-mini:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(0.9);
}

.btn-mini::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, -1.5, 0.27, 1.55);
}

.btn-mini:hover::after {
  opacity: 1;
}

/* Cards Component */
.card {
  background-color: var(--white);
  border: 1px solid var(--clr-border);
  position: relative;
  width: 100%;
}
.card__content {
  padding: var(--size-5);
  position: relative;
}
.card__content > :first-child {
  margin-top: 0;
}
.card__content > :last-child {
  margin-bottom: 0;
}
.card__heading, .card__metadata, .card__description {
  margin-bottom: var(--size-3);
}
.card__link {
  text-decoration: underline;
  text-decoration-thickness: max(0.08em, 1.5px);
  text-underline-offset: 0.15em;
  color: var(--clr-link);
}
.card__link:hover, .card__link:focus {
  text-decoration: none;
}
.card__image {
  border-bottom: 1px solid var(--gray-2);
  display: block;
  width: 100%;
}
.card--clickable {
  border-bottom-width: var(--border-size-3);
  padding-bottom: var(--size-2);
}
.card--clickable::after {
  position: absolute;
  right: var(--size-3);
  bottom: var(--size-2);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  color: var(--clr-link);
}

/* Details Block */
.details {
  display: block;
}
.details__summary {
  color: var(--clr-link);
  cursor: pointer;
  display: inline-block;
  padding-left: var(--size-5);
  position: relative;
  text-decoration: underline;
}
.details__summary::-webkit-details-marker {
  display: none;
}
.details__summary::before {
  bottom: 0;
  content: "";
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-width: 7px 0 7px 12.124px;
  border-left-color: inherit;
}
.details__summary:hover {
  text-decoration: none;
}
.details__summary:focus {
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  color: #212b32;
  outline: 4px solid transparent;
  text-decoration: none;
}
.details[open] > .details__summary::before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 12.124px 7px 0 7px;
  border-top-color: inherit;
}
.details__text {
  border-left: 4px solid var(--clr-border);
  margin-top: 8px;
  padding: 16px;
  padding-left: 20px;
}
.details__text > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

/* Dos and Donts List */
.do-dont-list {
  margin: var(--size-8) 0;
  padding: var(--size-5);
  color: var(--clr-body);
  border: 1px solid var(--clr-border);
  padding-top: 0 !important;
}
.do-dont-list .icon {
  flex: none;
  height: var(--size-7);
  width: var(--size-7);
}

.do-dont-list > *:first-child {
  margin-top: 0;
}

.do-dont-list__label {
  font-size: var(--fs-base);
  line-height: 1.4;
  background-color: var(--clr-accent);
  color: var(--white);
  display: inline-block;
  margin: 0 0 8px -25px;
  padding: var(--size-2) var(--size-7);
  position: relative;
  top: -23px;
}

.list--tick, .list--cross {
  list-style: none;
  margin: 0;
  padding-left: var(--size-6);
  position: relative;
}

.list--tick svg, .list--cross svg {
  left: -4px;
  margin-top: -5px;
  position: absolute;
}

/* Bootstrap Navigators */
.panel:after {
  background-color: #f2f2f2;
}

/* Tabs */
ul.nav-tabs, ul.nav-pills {
  display: block;
  margin-bottom: 0;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, a.accordion-toggle:hover, a.accordion-toggle:focus {
  background-color: var(--gray-2);
  text-decoration: none;
}

.nav-tabs > li > a, a.accordion-toggle {
  color: var(--clr-link);
  font-weight: bold;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  color: var(--clr-accent);
}

.tab-pane {
  padding-inline: var(--size-2);
}

/* Pills */
.nav-pills {
  margin-bottom: var(--size-3);
}

.nav-pills > li > a {
  color: var(--clr-link);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid var(--clr-border);
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
  color: white;
  background-color: var(--clr-link);
  border-color: var(--clr-link);
}

.nav-pills > li:not(.active):hover > a, .nav-pills > li:not(.active):focus > a {
  background-color: var(--gray-2);
}

.nav-pills > li:not(:first-child) {
  margin-left: 2px;
}

/* carousel */
.carousel-control {
  background-color: var(--navy-2);
  font-size: var(--fs-lg);
  font-weight: 900;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.carousel-indicators {
  display: block;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  top: auto;
  right: auto;
}

/* Accordions */
.accordion-heading .accordion-toggle {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

a.accordion-toggle::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  right: 0.75rem;
  vertical-align: middle;
  position: absolute;
}

a.accordion-toggle.collapsed::after {
  content: "\f054";
}

/* project information style */
#project-info {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin-block: var(--size-8);
  color: var(--neutral-6);
}

#project-info::before,
#project-info::after {
  content: none;
}

/* prism custom styles */
code[class*=language-], pre[class*=language-] {
  font-size: var(--fs-sm) !important;
}

/* ----------------------
    MEDIA QUERIES 
-------------------------*/
@media (min-width: 980px) {
  #overview.logoL .logoL {
    margin-right: var(--size-7);
  }
}
/* --TABLETS TO DESKTOPS-------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  .jumbotron {
    margin-top: 0;
  }
}
/* --TABLETS-------------------------------------------------------------- */
@media (max-width: 767px) {
  #overview.logoL .container {
    flex-direction: column;
  }

  #overview .container {
    padding: 0 var(--size-4);
  }

  body {
    padding-block: 0;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* --LANDSCAPE PHONES-------------------------------------------------------------- *//*# sourceMappingURL=bs_main.css.map */