/* ------ Project Information --------
Name: DigEd Xerte XOT Project Theme
Author: Nan Zhang
Date:
*/
/* Import open props */
@import "https://unpkg.com/open-props";
/* ======================
    CUSTOM PROPERTIES
=======================*/
:root {
  /* CU Colours */
  --cu-red: hsl(353, 65%, 52%);
  --cu-blue: hsl(224, 61%, 34%);
  --cu-blue-dark: hsl(222, 44%, 21%);
  --cu-sky: hsl(206, 100%, 33%);
  --cu-gold: hsl(41, 46%, 57%);
  --cu-gold-light: hsl(46, 44%, 69%);
  --navy-1:#334c5c;
  --navy-2:#657986;
  --navy-3:hsl(201, 27%, 20%);
  /* Neutral colour */
  --black: hsl(340, 5%, 12%);
  --white: hsl(0, 0%, 100%);
  --light: hsl(210, 17%, 98%);
  /* Neutral colour shades */
  --neutral-0: hsl(0, 0%, 98%);
  --neutral-1:hsl(0, 0%, 96%);
  --neutral-2:hsl(0, 0%, 90%);
  --neutral-3:hsl(0, 0%, 83%);
  --neutral-4:hsl(0, 0%, 64%);
  --neutral-5:hsl(0, 0%, 45%);
  --neutral-6:hsl(0, 0%, 32%);
  --neutral-7:hsl(0, 0%, 25%);
  --neutral-8:hsl(0, 0%, 15%);
  --neutral-9:hsl(0, 0%, 9%);
  --clr-success:hsl(148, 100%, 25%);
  --clr-danger: hsl(4, 77%, 48%);
  --gradient-text: var(--gradient-23);
  --gradient-image: url("https://images.unsplash.com/photo-1614850523459-c2f4c699c52e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
  --main-logo: url("https://dandange8005.github.io/CU-Xerte-Themes/Assets/images/CU-logo.svg");
  /* XOT Project Theme */
  --clr-primary: var(--cu-red);
  --clr-accent: var(--cu-blue);
  --clr-header-bg: var(--gradient-23);
  --clr-footder-bg: var(--gray-4);
  --clr-main-bg: var(--light);
  --clr-body: var(--neutral-8);
  --clr-link: var(--cu-sky);
  --clr-border: hsl(216, 12%, 84%);
  --clr-heading: var(--navy-1);
  --clr-headershade: var(--navy-2);
  --clr-panelborder: var(--gray-5);
  --clr-shaded: #f2f2f2;
  --clr-btn: var(--clr-heading);
  --clr-btn-rollover: var(--clr-headershade);
  --ff-sans: var(--font-sans);
  --ff-serif: var(--font-serif);
  --ff-mono: var(--font-mono);
  --fs-xs: clamp(0.74rem, 0.72rem + 0.08vw, 0.78rem);
  --fs-sm: clamp(0.83rem, 0.79rem + 0.20vw, 0.94rem);
  --fs-base: clamp(0.94rem, 0.86rem + 0.37vw, 1.05rem);
  --fs-lg: clamp(1.06rem, 0.94rem + 0.58vw, 1.35rem);
  --fs-xl: clamp(1.19rem, 1.02rem + 0.85vw, 1.62rem);
  --fs-2xl: clamp(1.34rem, 1.10rem + 1.19vw, 1.94rem);
  --fs-3xl: clamp(1.50rem, 1.18rem + 1.62vw, 2.33rem);
  --fs-4xl: clamp(1.69rem, 1.26rem + 2.17vw, 2.80rem);
  --gap: var(--size-fluid-1);
  --container-width: 47rem;
}

/* ======================
    OVERALL RESET
=======================*/
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

/* ======================
    XERTE XOT Project RESET
=======================*/
/* prevent elements from overflowing width of screen on mobile */
#x_mobileScroll {
  overflow-x: hidden;
}

/* MAIN HOLDER STYLE */
#x_mainHolder {
  border: none;
  width: 100% !important;
  background-color: var(--clr-main-bg);
}

/*stop scrollbar from showing when pseudo elements extend beyond the page view width*/
#x_pageHolder {
  overflow-x: hidden;
}

/* --MAIN CONTENT--- */
#x_pageHolder button {
  font-family: var(--ff-sans);
  font-weight: bold;
}

.x_tooltip {
  border-color: var(--clr-headershade);
  background-color: var(--clr-headershade);
}

a.x_glossary:link, a.x_glossary:visited, a.x_glossary:hover, a.x_glossary:active {
  color: var(--clr-body);
}

/* PANEL */
#x_mainHolder:not(.x_flashCards_page) .panel:not(.ui-draggable) {
  border: 1px solid var(--clr-panelborder);
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

.fa-x-tick, .fa-x-tick:before {
  color: var(--clr-success);
}

.fa-x-cross, .fa-x-cross:before {
  color: var(--clr-danger);
}

#infoHolder {
  border: none;
}

/* ======================
    TYPOGRAPHY

    - body
    - headers
    - spacing
    - link
    - list
    - blockquote
    - horizontal rule
=======================*/
body {
  font-family: var(--ff-sans);
  font-weight: 400;
  font-size: var(--fs-base) !important;
  color: var(--clr-body);
  line-height: 1.625;
}

/* heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-sans);
  font-weight: var(--font-weight-7);
  color: var(--clr-heading);
}

h1 {
  font-size: var(--fs-3xl);
  line-height: var(--font-lineheight-0);
}

h2 {
  font-size: var(--fs-2xl);
  line-height: var(--font-lineheight-1);
}

h3 {
  font-size: var(--fs-xl);
  line-height: var(--font-lineheight-2);
}

h4 {
  font-size: var(--fs-lg);
  line-height: var(--font-lineheight-3);
}

#pageContents > *:where(:not(:last-child)),
.container > *:where(:not(:last-child)),
.flow > *:where(:not(:last-child)) {
  margin-bottom: var(--size-fluid-2);
}

#pageContents h2, #pageContents h3, #pageContents h4, #pageContents h5 {
  margin-bottom: var(--size-fluid-1);
}

a {
  color: var(--clr-link);
  text-decoration: none;
  position: relative;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-thickness: max(0.08em, 1.5px);
  text-underline-offset: 0.15em;
  color: var(--clr-link);
}

a[href^=mailto]::before {
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: var(--size-1);
  font-size: var(--fs-xs);
}

a[target=_blank]:hover::after,
a[target=_blank]:focus::after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: var(--size-1);
  font-size: var(--fs-xs);
}

a[href^=mailto]:hover::before,
a[href^=mailto]:focus::before,
a[target=_blank]:hover::after,
a[target=_blank]:focus::after,
.action-link:hover::before,
.action-link:focus::before {
  text-decoration: none;
  display: inline-block;
}

/* action link */
.action-link::before {
  content: "\f0a9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: var(--size-2);
  color: var(--success);
  font-size: var(--fs-lg);
}

a.action-link:hover::after,
a.action-link:focus::after {
  content: none;
}

ul,
ol {
  padding: 0;
  padding-left: var(--size-5);
  display: grid;
  gap: var(--size-3);
}

ul#tabHolder, ul.tabList {
  display: block;
}

li {
  line-height: var(--font-lineheight-3);
}

ul li,
ol li {
  padding-left: var(--size-2);
}

li ul {
  margin-top: var(--size-3);
}

.list-none {
  list-style-type: none;
  padding: 0;
}

.list-icon {
  margin-left: 0;
  padding-left: var(--size-1);
}
.list-icon li {
  display: flex;
}
.list-icon li span {
  margin-right: var(--size-3);
  color: var(--neutral-7);
  font-size: var(--fs-lg);
  margin-top: 3px;
  line-height: 0;
}

.list-counter {
  counter-reset: orderedlist;
  list-style-type: none;
  margin-left: 0;
  padding-left: var(--size-1);
}
.list-counter li {
  position: relative;
  padding-left: 2.5rem;
}
.list-counter li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  width: var(--size-5);
  height: var(--size-5);
  background: var(--gray-2);
  color: var(--gray-7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

blockquote {
  margin-left: 0;
  padding: 0.5rem 1rem;
  border-left: 5px solid var(--clr-primary);
  font-family: var(--ff-serif);
  font-size: var(--fs-lg);
  line-height: 1.625;
}

/* Table */
table {
  background: var(--white);
  box-shadow: var(--shadow-2);
  font-size: var(--fs-sm);
}

table,
table tr,
table td {
  border: none;
}

thead th {
  background: var(--clr-headershade);
  color: var(--light);
  font-weight: bold;
}

table tr td:not(:first-of-type) {
  border-left: 1px solid var(--clr-border);
}

thead th:not(:first-of-type) {
  border-left: 1px solid var(--light);
}

table tr:nth-child(even) {
  background: var(--light);
}

/* horizontal rule */
hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-block: var(--size-fluid-2);
  border: 0;
  border-top: 0.0625rem solid var(--clr-border);
}

.break-l {
  margin-block: var(--size-fluid-4);
}

.break-m {
  margin-block: var(--size-fluid-3);
}

/* ======================
    BASE - MEDIA

    - images
    - figures
    - video
    - embeded links

=======================*/
img {
  height: auto;
}

figure.image {
  margin: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

figcaption {
  background: var(--gray-2);
  color: var(--text-3);
  font-size: var(--fs-sm);
  padding: var(--size-2);
  caption-side: bottom;
}

.image-inline {
  display: inline-block;
}

.image-full {
  width: 100%;
  height: auto;
}

.image-round {
  border-radius: var(--radius-2);
}

/* Styles to the screenshots */
.image-screenshots {
  border: 1px solid var(--clr-border);
  margin: 2rem auto;
  clear: both;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
}

/* Media - iframe Block */
/* iframe Block */
.video-720 {
  max-width: 720px;
  aspect-ratio: 16/9;
}

.iframe-block {
  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.32%;
  box-shadow: var(--shadow-3);
}
.iframe-block iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0;
}
.iframe-block--xerte, .iframe-block--h5p {
  border: 4px solid var(--clr-border);
}
.iframe-block--xerte {
  padding-bottom: 75%;
}
.iframe-block__caption {
  background: var(--light);
  color: var(--clr-body);
  font-style: italic;
  font-size: var(--fs-sm);
  padding: 4px;
  margin-top: 0;
}

/* =====================
  Layouts - Header 
======================== */
#x_headerBlock {
  box-shadow: none;
  background: var(--clr-header-bg);
  /* background: linear-gradient(50deg, rgba(0, 106, 175, 0.8) 0%, 
                                          rgba(0, 106, 175, 0.98) 45%, 
                                          rgba(0, 106, 175, 0.98) 45%, 
                                          rgba(0, 106, 175, 0.8) 100%), 
                                          url("https://xerte.cardiff.ac.uk/USER-FILES/10067-sopnz-Nottingham/media/carbs_001.jpg");
    background-size: cover;
    background-position: center 65%; */
}

#x_headerBlock div {
  padding: 1.2em 0;
}

#x_headerBlock::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0px;
  width: 100%;
  background-image: url("https://dandange8005.github.io/CU-Xerte-Themes/Assets/images/shadow.png");
  background-repeat: repeat-x;
  background-size: 1px 12px;
  height: 12px;
  z-index: 2;
}

#x_headerBlock h1 {
  text-transform: uppercase;
  font-size: var(--fs-sm);
  color: var(--light);
  opacity: 0.8;
  margin-bottom: 5px;
  font-weight: 600;
}

#x_headerBlock h2 {
  font-size: var(--fs-lg);
  color: var(--white);
  margin-bottom: 0;
}

#x_headerBlock div {
  padding-left: 70px;
  position: relative;
}

#x_headerBlock div::before {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  aspect-ratio: 1;
  background-image: var(--main-logo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

#x_headerBlock h1, #x_headerBlock h2 {
  margin-left: 1rem;
}

/* ======================
    LAYOUT - BASE
=======================*/
/* XERTE PAGE WIDTH */
#x_headerBlock div,
#x_pageDiv {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

#x_pageDiv {
  padding-inline: 0;
}

@media (min-width: 768px) {
  #x_headerBlock div,
#x_pageDiv {
    width: 85%;
  }
}
/* CONTENT RESET */
#x_pageDiv {
  padding-block: var(--size-7);
}

h1,
h2,
h3 {
  padding: 0;
}

p {
  padding: 0;
}

.container {
  width: min(var(--container-width), 100% - 2rem);
  margin-inline: auto;
}

/* ======================
    LAYOUT - FOOTER
=======================*/
#x_footerBlock {
  background: var(--clr-footder-bg);
  color: var(--cu-blue-dark);
}

/*hide resize button*/
#x_cssBtn {
  display: none !important;
}

.ui-button:after,
#x_footerChevron {
  color: var(--cu-blue-dark);
}

.ui-button.ui-state-hover::after {
  color: var(--gray-7);
}

.pbBar {
  background-color: var(--navy-1);
}

/* ================================
    LAYOUT - TABLE OF CONTENT MENU
===================================*/
.ui-dialog {
  padding: 0;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  box-shadow: var(--shadow-2);
  font-family: var(--ff-sans);
}

#menuItems {
  background: var(--gray-1);
}

#menuItems .menuItem {
  font-size: 0.85rem;
  background: var(--gray-1);
  color: var(--clr-body);
  border: none;
}

#menuItems .sectionHeader {
  opacity: 0.7;
  color: var(--clr-header-bg);
}

#menuItems .sectionHeader::after {
  content: " - ";
}

.ui-dialog .ui-widget-header {
  color: var(--white);
  background: var(--clr-header-bg);
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 0;
  border: none;
  padding: 8px;
}

.ui-widget-header .ui-state-default {
  color: var(--white);
}

.ui-widget-header .ui-state-hover {
  color: var(--gray-2);
}

#menuItems .menuItem.current {
  border: none !important;
  background: var(--gray-4);
  border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  border: none;
  background: transparent;
  right: 0;
}

#menuItems .ui-state-hover {
  background: var(--gray-4) !important;
  border-radius: 0;
}

/* Flex Utility Classes   */
.flex {
  display: flex;
  gap: var(--gap);
}

/* Flex Direction */
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-100 {
  flex: 1 1 100px;
}

.flex-200 {
  flex: 1 1 200px;
}

.flex-300 {
  flex: 1 1 300px;
}

.flex-400 {
  flex: 1 1 400px;
}

.flex-500 {
  flex: 1 1 500px;
}

.flex-600 {
  flex: 1 1 600px;
}

.flexContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.flexItem {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
}

.flexItem h3 {
  margin-top: 0;
}

.flexItem h3.topMargin {
  margin-top: 34px;
}

.flexItem img {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  margin: 0 auto;
}

@media (min-width: 806px) {
  .c80 {
    width: 80%;
  }

  .c70 {
    width: 70%;
  }

  .c60 {
    width: 60%;
  }

  .c50 {
    width: 50%;
  }

  .c40 {
    width: 40%;
  }

  .c30 {
    width: 30%;
  }

  .c33 {
    width: 33.33%;
  }

  .c20 {
    width: 20%;
  }

  .c10 {
    width: 10%;
  }

  .flexItem {
    padding-right: 2rem;
    margin-bottom: 0;
  }
}
/* Grid Utility Classes */
.grid {
  display: grid;
  gap: var(--gap);
}

/* ----------------------
	PAGES - TEXT
-------------------------- */
.x_orient_page #pageContents, .x_summary_page #pageContents {
  max-width: 80ch;
  margin: 0 auto;
}

.x_title_page #pageContents {
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ----------------------
	PAGES - TABLE
-------------------------- */
table.full td, table.simple, table.horizontal tr, table.vertical td, table.header.simple tr:first-child, table.footer.simple tr:last-child, table.headerCol.simple td:first-child {
  border-color: var(--clr-headershade);
}

table.header.shaded tr:first-child, table.footer.shaded tr:last-child, table.headerCol.shaded td.header {
  background: var(--clr-headershade);
  color: var(--white);
}

table.header tr:first-child, table.footer tr:last-child {
  color: var(--clr-heading);
}

table.header.shaded.full tr:first-child td:not(:last-child), table.header.shaded.vertical tr:first-child td:not(:last-child), table.footer.shaded.full tr:last-child td:not(:last-child), table.header.footer.vertical tr:last-child td:not(:last-child) {
  border-right-color: var(--white);
}

table.headerCol.shaded.full tr:not(:last-child) td:first-child, table.headerCol.shaded.horizontal tr:not(:last-child) td:first-child {
  border-bottom: 1px solid var(--white);
}

table tr.shaded, table.glossary tr.shaded {
  background: var(--clr-shaded);
}

table.glossary tr td:first-child {
  border-color: var(--clr-shaded);
}

.x_table_page #tableName {
  color: var(--clr-heading);
}

.x_table_page #footnote {
  border-color: var(--clr-border);
}

/* ----------------------
	PAGES - GRAPHIC
-------------------------- */
.x_textGraphics_page #imgCaption {
  color: var(--clr-heading);
}

.x_textGraphics_page #imgCaption.transcript {
  /* hr */
  border-color: var(--clr-border);
}

/* ----------------------
	PAGES - MEDIA
-------------------------- */
.x_audioSlideshow_page .slide {
  padding: 1rem;
}

.centerAlign #pageVideo {
  margin: auto;
}

/* ----------------------
	PAGES - NAVIGATORS
-------------------------- */
.x_buttonNav_page #btnHolder .panelBtnLabel {
  border: 1px solid var(--clr-panelborder);
  color: var(--clr-btn);
  font-weight: 500;
  border-radius: 2px;
  padding: 0.4em 1em;
  margin: 2px 2px 2px 0;
  line-height: 14px;
}

.x_buttonNav_page #btnHolder .panelBtnLabel:first-of-type {
  margin-right: -2px;
}

.x_buttonNav_page #btnHolder .panelBtnLabel.ui-state-active, .x_nav_page #pageContents.button button.selected {
  background-color: var(--clr-btn);
  border-color: var(--clr-btn);
  color: var(--white);
}

.x_buttonNav_page #btnHolder .panelBtnLabel.ui-state-hover:not(.ui-state-active), .x_buttonNav_page #btnHolder .panelBtnLabel.ui-state-focus:not(.ui-state-active) {
  background-color: var(--clr-shaded);
}

.x_buttonNav_page #btnHolder .panelBtnLabel .ui-button-text {
  padding: 0;
  margin: 0;
}

.x_columnPage_page #textHolder {
  border-bottom-color: var(--clr-panelborder);
}

.x_nav_page #pageContents.button button.ui-state-hover:not(.selected), .x_nav_page #pageContents.button button.ui-state-focus:not(.selected) {
  background-color: var(--clr-shaded);
  border-color: var(--clr-panelborder);
  color: var(--clr-btn);
}

.x_nav_page #pageContents.slide #btnHolder {
  border-color: var(--clr-panelborder);
}

.x_slideshow_page #slideTxt, .x_nav_page #pageContents.slide #slideTxt {
  color: var(--clr-heading);
}

.x_tabNavExtra_page .paneList {
  color: var(--clr-panelborder);
  border-color: var(--clr-panelborder);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.x_tabNavExtra_page .paneList a, .x_tabNavExtra_page .paneList a {
  font-size: 0.9rem;
}

.x_tabNavExtra_page .paneList a:link, .x_tabNavExtra_page .paneList a:visited, .x_tabNavExtra_page .paneList a:hover, .x_tabNavExtra_page .paneList a:active {
  color: var(--clr-link);
}

/* ------------------- */
/* UTILITY CLASSES     */
/* ------------------- */
.text-center {
  text-align: center;
}

.bg-red {
  background-color: var(--cu-red);
}

.bg-blue {
  background-color: var(--cu-blue);
}

.bg-blue-dark {
  background-color: var(--cu-blue-dark);
}

.bg-sky {
  background-color: var(--cu-sky);
}

.bg-gold {
  background-color: var(--cu-gold);
}

.bg-gold-light {
  background-color: var(--cu-gold-light);
}

.bg-navy-1 {
  background-color: var(--navy-1);
}

.bg-navy-2 {
  background-color: var(--navy-2);
}

.bg-navy-3 {
  background-color: var(--navy-3);
}

.bg-light {
  background-color: var(--light);
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-compliment {
  background-color: var(--clr-compliment);
}

.bg-success {
  background-color: var(--clr-success);
}

.bg-danger {
  background-color: var(--clr-danger);
}

.text-1 {
  color: var(--text-1);
}

.text-2 {
  color: var(--text-2);
}

.text-3 {
  color: var(--text-3);
}

.text-white {
  color: var(--white);
}

.text-success {
  color: var(--clr-success);
}

.text-danger {
  color: var(--clr-danger);
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.uppercase {
  text-transform: uppercase;
}

.fs-4xl {
  font-size: var(--fs-4xl);
}

.fs-3xl {
  font-size: var(--fs-3xl);
}

.fs-2xl {
  font-size: var(--fs-2xl);
}

.fs-xl {
  font-size: var(--fs-2xl);
  line-height: 1.3;
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-base {
  font-size: var(--fs-base);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-xs {
  font-size: var(--fs-xs);
}

.square {
  aspect-ratio: var(--ratio-square);
}

.portrait {
  aspect-ratio: var(--ratio-portrait);
}

.ultrawide {
  aspect-ratio: var(--ratio-ultrawide);
}

.widescreen {
  aspect-ratio: var(--ratio-widescreen);
}

.landscape {
  aspect-ratio: var(--ratio-landscape);
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/* ----------------------
	jQUERY Components
-------------------------- */
/* --jquery ui-- */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: var(--clr-btn);
}

.ui-state-default.ui-state-hover:not(.ui-accordion-header):not(.tabHeader):not(.navChildTitle) {
  color: var(--white);
  background-color: var(--clr-btn);
  border-color: var(--clr-btn);
}

.ui-state-default {
  border: 1px solid var(--clr-panelborder);
  border-radius: 2px;
  background: none;
  background-color: var(--white);
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: var(--clr-btn);
  font-weight: 500;
}

.ui-widget-content {
  border: 1px solid var(--clr-panelborder);
}

.ui-state-active a:hover, .ui-state-active a:focus, .ui-state-default a:hover, .ui-state-default a:focus {
  background-color: var(--clr-btn-rollover);
  text-decoration: none;
  color: var(--white);
}

.ui-tabs {
  border: none;
  background: none;
}

.ui-tabs .ui-widget-header {
  background: none;
  border: none;
  border-radius: 0;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav .tabHeader, .ui-tabs .ui-tabs-nav .navChildTitle {
  background-color: var(--white);
  border-color: var(--clr-border);
  border-radius: 4px 4px 0 0;
}

.ui-tabs .ui-tabs-nav .tabHeader:not(.ui-state-active), .x_nav_page #pageContents.tab .ui-tabs .ui-tabs-nav .navChildTitle:not(.ui-state-active) {
  border-color: var(--clr-border);
  background: none;
  background-color: var(--white);
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
  border-bottom: 1px solid var(--white) !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a {
  color: var(--clr-heading);
}

.ui-tabs .ui-tabs-nav li.ui-state-active a:hover, .ui-tabs .ui-tabs-nav li.ui-state-active a:focus {
  background: none;
}

.ui-tabs #paneHolder, .ui-tabs .paneHolder {
  border: 1px solid var(--clr-border);
  margin-top: -1px;
  background-color: var(--white);
}

/* Accordion */
.ui-accordion-header {
  margin-bottom: 0 !important;
}

.ui-accordion .ui-accordion-header .ui-icon {
  color: var(--clr-btn);
  left: 0.7em;
}

.ui-accordion .ui-accordion-header.ui-state-hover .ui-icon {
  color: var(--white);
}

.ui-accordion .ui-accordion-content {
  border-top: 1px solid var(--clr-border);
}

.ui-accordion .ui-accordion-header-active a {
  font-weight: bold;
}

.x_nav_page #pageContents.button button.ui-state-hover:not(.selected), .x_nav_page #pageContents.button button.ui-state-focus:not(.selected) {
  background-color: var(--clr-shaded);
  border-color: var(--clr-panelborder);
  color: var(--clr-btn);
}

.x_nav_page #pageContents.button button.selected {
  background-color: var(--clr-btn);
  color: var(--white);
}

.x_nav_page #pageContents.slide #btnHolder {
  border-color: var(--clr-panelborder);
}/*# sourceMappingURL=xot_main.css.map */