// Open prop values
// colours
// Gradients
// Shadows
// Aspect Ratios
// Typorgraphy
// Sizes
// borders
// Media queries

/* Import open props */
@import "https://unpkg.com/open-props";

/* GOOGLE FONT IMPORT DECLARATION */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');


/* Custom properties for CU projects */
:root {
    // colours
    --cu-red: #CE0538;
    --cu-blue: #1D2B4E;
    --cu-gold:#D2C392;
    
    // Type
    --ff-sans: 'Lato', sans-serif;

}