/* ======================
    LAYOUT - BASE
=======================*/

/* ===============
    XERTE PAGE WIDTH
================== */

#x_headerBlock div,
#x_pageDiv {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

#x_pageDiv {
    padding-top: var(--size-5);
}

@media (min-width: 768px) {

    #x_headerBlock div,
    #x_pageDiv {
        width: 85%;
    }
}


/* ===============
    BODY
================== */
/* BODY BACKGROUND */
#x_mainHolder {
    background-color: var(--clr-body-bg);
    border: none;
    width: 100% !important;
}

/* PARAGRAPH COLOUR */
#x_mainHolder p, #textHolder {
	color: var(--clr-body-text);
}


/* CONTENT RESET */
// #x_pageDiv {
//     padding-block: var(--size-7);
// }

h1,
h2,
h3 {
    padding: 0;
}

p {
    padding: 0;
}

.container {
    width: min(var(--container-width),100% - 2rem);
    margin-inline: auto;
}
