/* ======================
    LAYOUT - FOOTER
=======================*/

// Footer bg #x_footerBlock
// Top border of footer #x_footerBlock
// Footer TEXTURE #x_footerBg
// FOOTER PAGE NUMBERING BOX #x_pageNo


#x_footerBlock {
    background: var(--clr-footder-bg);
    color: var(--clr-footer-text);
}

/*hide resize button*/
#x_cssBtn {
    display: none !important;
}

.ui-button:after,
#x_footerChevron {
    color: var(--cu-blue-dark);
}

.ui-button.ui-state-hover::after {
    color: var(--gray-7);
}

// progress bar
.pbBar {
    background-color: var(--clr-progress-bar);
}