 /* --- BODY --- */
 body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 1.5;
    color: #383735;
    background: #fdfdfd;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

/*prevent font from enlarging on mobile when viewed in landscape (users can still zoom in)*/
html {
    -webkit-text-size-adjust: 100%;
}

/*box sizing*/
*, *:before, *:after {
    box-sizing: border-box;
}

/*----- XERTE STYLES -----*/
#x_mainHolder {
    border: none;
    width: 100% !important;
}
#x_pageHolder {
    overflow-x: hidden;
}
#x_pageDiv {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
@media (min-width: 768px) {
    #x_pageDiv {
        width: 85%;
    }
}
p {
    padding-left: 0;
    padding-right: 0;
}

/*----- PAGE HEADER -----*/
header {
    position: relative;
}
.topHeader {
    position: relative;
    padding: 22px 0;
}
.logo img {
    width: 100px;
}
.splashHeader {
    position: relative;
}
.splashHeader::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    background: #2b354c;
    background: linear-gradient(to bottom, rgba(43, 53, 76, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%), url(https://xerte.cardiff.ac.uk/USER-FILES/18042-sagkw19-Nottingham/media/jesse-orrico-rmWtVQN5RzU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/*----- PAGE HEADER: TITLES -----*/
.titles {
    width: 70%;
    color: #fff;
    padding: 64px 0;
}
.titles h1 {
    position: relative;
    font: 700 46px/1.2 "Libre Franklin", sans-serif;
    margin-bottom: 32px;
}
.titles h1 span {
    font-weight: 400;
}
.titles h1::after, section h3::after {
    content: '';
    display: block;
    margin: 10px 0 0 0;
    width: 25px;
    height: 5px;
    background-color: #d4374a;
}
.titles p {
    font: 400 20px/1.5 "Libre Franklin", sans-serif;
}

/*----- NAVIGATION BAR -----*/
nav {
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -1;
    background: #fff;
    border-bottom: 1px solid #dadada;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li:not(:last-of-type) a::after {
    display: inline-block;
    content: '|';
    padding: 0 16px;
}
nav a, nav a:visited {
    color: #383735;
    font-size: 16px;
}

/*----- PAGE FOOTER -----*/
footer {
    position: relative;
    padding: 32px 0;
    font-size: 15px;
    color: #fff;
}
footer a, footer a:visited {
    color: #8fb9d7;
}
footer span {
    float: right;
}

/* --- PAGE SECTIONS --- */
section {
    padding: 32px 0;
}

/* --- PAGE SECTIONS: HEADERS --- */
section h3 {
    font: 700 32px/1.2 "Libre Franklin", sans-serif;
    padding: 0;
    margin: 0 0 26px;
}
section h4 {
    font: 400 20px/1.2 "Libre Franklin", sans-serif;
    margin: 0 0 22px;
}

/* --- PAGE SECTIONS: SHADED BACKGROUNDS --- */
.shaded {
    position: relative;
}
.shaded::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -1;
}
.shadedGrey::before {
    background: #f6f6f6;
}
.shadedBlue::before {
    background: #002554;
}
.shadedDarkGrey::before {
    background: #515151;
}
.shadedWhite::before {
    background: #fff;
}
.shadedGold::before {
    background: #ebe9e1;
}
.text-white {
    color: #fff;
}

/* --- PAGE SECTIONS: STUDENT FUTURES SECTION --- */
#opportunities .flexContainer {
    margin-top: 42px;
    margin-bottom: 32px;
}
#opportunities h4 {
    display: flex;
}
#opportunities i {
    margin-right: 12px;
}

/* --- FLEX SECTIONS --- */
.flexContainer {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
.flexContainer.reverse {
    flex-flow: row wrap-reverse;
}
.flexItem {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
}
.flexItem h3 {}
.flexItem h3.topMargin {
    margin-top: 34px;
}
.flexItem h4 {}
.flexItem img {
    width: 100%;
    max-width: max-content;
    display: block;
    margin: 0 auto;
}
@media (min-width: 806px) {
    .c80 {
        width: 80%;
    }
    .c70 {
        width: 70%;
    }
    .c60 {
        width: 60%;
    }
    .c50 {
        width: 50%;
    }
    .c40 {
        width: 40%;
    }
    .c30 {
        width: 30%;
    }
    .c33 {
        width: 33.33%;
    }
    .c20 {
        width: 20%;
    }
    .c10 {
        width: 10%;
    }
    .flexItem {
        padding-right: 64px;
        margin-bottom: 0;
    }
}

/* --- HYPERLINKS --- */
a, a:visited {
    color: #1987B5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* --- SHADOW --- */
.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0;
    border: 0;
    background: transparent;
}

/*--- VIDEOS ---*/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* --- LANGUAGE TOGGLE --- */
.languageHolder {
    display: none;
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 1;
}
a.language-toggle {
    font: 12px/1.5 sans-serif;
    text-decoration: none !important;
    transition: .25s ease-in-out;
    color: #383735;
}
a.language-toggle:hover {
    color: #f58025;
}
.language-toggle .icon-cymraeg {
    color: #f58025;
    position: relative;
    top: 1px;
    padding-left: 0;
    padding-right: 4px;
}
.icon-cymraeg:before {
    background-image: url('https://xerte.cardiff.ac.uk/USER-FILES/12097-sisnp2-Nottingham/media/cymraeg_white.png');
    background-size: 25px 31px;
    display: inline-block;
    width: 25px;
    height: 31px;
    vertical-align: middle;
    content: "";
}
.icon-english:before {
    background-image: url('https://xerte.cardiff.ac.uk/USER-FILES/11989-sisrm2-Nottingham/media/englishlanguage.png');
    background-size: 25px 31px;
    display: inline-block;
    width: 25px;
    height: 31px;
    vertical-align: middle;
    content: "";
}

/* --- UNSTYLED LIST --- */
.noListStyle {
    list-style-type: none;
    padding: 0;
}
.noListStyle li {
    line-height: 2;
}
.noListStyle a {
    color: inherit;
    transition: all .2s ease-in;
}

/* --- HIGHLIGHTED BOX (for gradate prospect stats and School Contact box) --- */
.borderBox {
    background: #d3374a;
    padding: 16px;
}
.borderBox h4 {
    font-weight: 700;
}
.borderBox img {
    width: calc(100% + 32px);
    max-width: max-content;
    display: block;
    margin: -16px -16px 16px;
}
.borderBox.prospects {
    background: #002554;
    color: #fff;
}
.prospects h4 {
    font: 400 18px/1.2 'Libre Franklin', sans-serif
}
p.statistic {
    font: 700 38px/1.2 'Libre Franklin', sans-serif
}
p.footnote {
    font: italic 400 13px/1.2 'Libre Franklin', sans-serif;
}

/*---- ACCORDION ---- */
.accordion {
    width: 100%;
    margin: 0px auto;
}
.accordion h4 {
    font: 400 16px/22px "Roboto", sans-serif;
    padding: 1em .5em 1em .5em;
    transition: all .15s ease-in;
    /*background: #e4ddcd;*/
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
}
.accordion.white h4 {
    background: transparent;
}
.accordion h4:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}
.accordion h4 a, .accordion h4 a:visited, .ui-accordion .ui-accordion-header a {
    padding: 0;
    color: #383735;
}
.accordion h4 a:hover {
    text-decoration: none;
}
.accordion h4:hover {
    cursor: pointer;
    background: #ebe9e1;
}
.accordion.white h4:hover {
    background: #ebe9e1;
}
.ui-accordion .ui-accordion-header {
    margin-top: 0;
}
.accordion .ui-accordion-header.ui-state-active {
    background: #ebe9e1;
}
.accordion div {
    font: 400 16px/24px 'Roboto', sans-serif;
    padding: 1em !important;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    background: transparent;
}
.ui-widget-content {
    color: #383735;
}
.ui-accordion-header i {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.ui-state-active i {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* --- CO-CURRICULAR MAP TABLE --- */
.flexTable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
}
.flexCell {
    flex-grow: 1;
    width: 100%;
    padding: 6px;
    overflow: hidden;
    background: #eff7fc;
    border: 1px solid #fff;
}
.flexCell>h1,
.flexCell>h2,
.flexCell>h3,
.flexCell>h4,
.flexCell>h5,
.flexCell>h6 {
    margin: 0;
}
.blank {
    background: transparent;
}
.head {
    background: #d3374a;
    color: #fff;
}

/* --- CO-CURRICULAR MAP TABLE: column sizing --- */
.flexTable-2cols>.flexCell {
    width: 50%;
}
.flexTable-3cols>.flexCell {
    width: 33.33%;
}
.flexTable-4cols>.flexCell {
    width: 25%;
}
.flexTable-5cols>.flexCell {
    width: 20%;
}
.flexTable-6cols>.flexCell {
    width: 16.6%;
}
.f10 {
    width: 10%
}
.f20 {
    width: 20%
}
.f30 {
    width: 30%
}
.f40 {
    width: 40%
}
    .fullWidth {
  display:none;
}

/* --- CO-CURRICULAR MAP TABLE: Responsive rules --- */
@media all and (max-width: 800px) {
    .flexTable-collapse {
        display: block;
    }
    .flexTable-collapse>.flexCell {
        width: 100% !important;
    }
    .hide {
        display: none;
    }
    .fullWidth {
  display:block;
}
}
.no-flexbox .flexTable {
    display: block;
}
.no-flexbox .flexTable>.flexCell {
    width: 100%;
}

/* --- CO-CURRICULAR MAP TABLE: Extra bits for placement column --- */
.f15 {
  width: 9%;
  background: #2b354c;

    text-align: center;
}
.f25 {
  width: 27%;
}
.f15 h4 {
  font-size: 15px;;
}

@media (max-width: 800px) {
  .placement {
    display: none;
  }
}

/* --- DOWNLOAD BUTTON --- */
.download {
    display: block;
    background: #d3374a;
    position: relative;
    margin: 16px 0 0;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    text-align: center;
    padding: .5em 1em;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    transition: .15s ease-in;
}
a.download, a.download:hover {
    text-decoration: none;
    color: #fff;
}

/* --- CHECKLIST IMAGE --- */
#checklist {
    display: none;
}
#checklist img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    transform: rotate(2deg);
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

/* --- GRADUATE ATTRIBUTE COLOURS --- */
.collab i:first-of-type {
    color: #d3374a;
}
.commun i:first-of-type {
    color: #17a2b8;
}
.ethic i:first-of-type {
    color: #98c21d;
}
.critic i:first-of-type {
    color: #bd9e5e;
}
.innov i:first-of-type {
    color: #0060a9;
}
.reflec i:first-of-type {
    color: #ffc107;
}
i.collab {
    color: #d3374a;
}
i.commun {
    color: #17a2b8;
}
i.ethic {
    color: #98c21d;
}
i.critic {
    color: #bd9e5e;
}
i.innov {
    color: #0060a9;
}
i.reflec {
    color: #ffc107;
}