/* -------------------
    Import Google Fonts
-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');

/* -------------------
    Custom Properties 
----------------------*/

:root {

    /* CU Primary Colours */
    --red-primary: #d4374a;    
    --blue-primary: #223E8C;
    --blue-dark: #1D2B4E;
    --blue-light: #045bc6;
    --gold-primary: #BD9E5E;
    --gold-light: #D2C392;
    --success: #007f3b;
    --danger: #DA291C;
    
    /* Neutral colour */
    --black: #241f20;
    --gray-4: rgba(35, 31, 32, 0.8);
    --gray-3: rgba(35,31,32,.6);
    --gray-2: rgba(35,31,32,.4);
    --gray-1: rgba(35, 31, 32, 0.2);
    --white: #ffffff;
    --light: #f8f9fa;

    /* Theme */
    --clr-accent: var(--red-primary);
    --clr-text: var(--black);
    --clr-link: var(--blue-light);
    --clr-border: #ddd;

	/* Typography */
    --ff-body: 'Inter', sans-serif;
    --ff-heading: 'Inter', sans-serif;
    --fw-normal: 400;
	--fw-bold: 700;
	/* Text */
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	--text-5xl: 3rem;
	--text-6xl: 4rem;
	/* Shadow */
    --sd-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --sd-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --sd: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --sd-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --sd-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --sd-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--sd-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	--sd-inner: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    --sd-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }

/*-------------Typography-------------*/

body {
	font-family: var(--ff-body);
	font-size: var(--text-base);
	font-weight: var(--fw-normal);
	line-height: 1.5;
    color: var(--clr-text);
    overflow-x: hidden;
}

.page-header h1 {
    font-size: 38.5px;
    color: var(--clr-accent);
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 10px;
}

#mainContent h2 {
    font-size: 28px;
}

#mainContent p + h2 {
margin-top: 1.5rem;
}

p {
    margin: 0 0 20px 0;
}

.jumbotron {
   /* fallback for old browsers */
    background: #3e4244;
    padding: 6vh 2rem;
    background-size: cover!important;
  }

img.logoL {
  max-width: 90px;
}

#pageTitle {
line-height: 1.2;
}

/*Sidebar Nav*/
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background: var(--clr-accent);
}

.nav-list > li > a {
  color: var(--clr-text);
  font-size: .9rem;
}


/*-----------list----------------*/
#mainContent ul > li, #mainContent ol > li {
  margin-bottom: 10px;
line-height: 24px;
}


/* Hyperlink */
a:hover, a:focus {
    color: var(--clr-link);
}
a {
    color: var(--clr-link);
  	position: relative;
}

a[href^="mailto"]::before {
    	content: "\f0e0";
	font-family: "Font Awesome 5 Free";
	font-weight:900;
	margin-right: 8px;  
  
}

a[target='_blank']:hover::before,  a[target='_blank']:focus::before{
  	content: "\f35d";
	font-family: "Font Awesome 5 Free";
	font-weight:900;
	margin-right: 8px;
}

a[href^="mailto"]:hover::before, a[href^="mailto"]:focus::before, a[target='_blank']:hover::before,  a[target='_blank']:focus::before {
  text-decoration: none;
  display: inline-block;
}

/* Embed Container*/

.embed-container {
  background: var(--light);
  border-radius: 5px;
  padding: 3rem;
  margin: 2rem 0;
}

.embed-container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: var(--sd-xl);
}

/*-------Section--------------------*/
#mainContent section {
margin-bottom: 60px;
}


/*-------fix font size and paddings for small screen size--------*/

@media (max-width: 768px) {
    h1#pageTitle {
      font-size: 40px;
  }
 body {
   padding: 0;
 }
 .container {
   padding: 0 20px;
 }
}

@media (max-width: 1200px) and (min-width: 980px) {
    #overview.logoL .titles {
        padding-inline-start: 0;
    }
}

/*responsive containers for embedded videos*/
		.restrictSizeWide {
			max-height: 360px;
			max-width: 640px;
			margin: 0 auto;
		}

		.restrictSizeWider {
			max-height: 405px;
			max-width: 720px;
			margin: 0 auto;
		}

		.restrictSizeSquare {
			max-height: 480px;
			max-width: 640px;
			margin: 0 auto;
		}

		.video-container {
			height: 0;
			/*padding-top: 25px;*/
			padding-bottom: 62.57%;
			margin-bottom: 10px;
			position: relative;
			overflow: hidden;
			-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
			-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
		}

		.video-container iframe {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}

		.video-container.widescreen {
			padding-bottom: 56.28%;
		}

		figcaption {
			font: 300 13px/15px 'Open Sans';
			color: #aaa;
			margin: 0 0 32px 0;
			max-width: 640px;
		}

/* a class for certrally align element */
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles to the screenshots */
img.screenshots {
  	max-width: 95%;
 	border: 1px solid var(--clr-border);
    margin: 2rem auto;
    clear: both;
    display: block;
  	border-radius: 5px;
    box-shadow: var(--sd-xl);
}

/* =====================
    COMPONENTS
======================== */
.block {
    margin: 2rem 0;
  }
  
  
  .callout {
    background: var(--light);
      padding: 1.5rem;
      padding-left: 2.5rem;
      border-radius: 4px;
      box-shadow: var(--sd-md);
      position: relative;
      margin: 2rem 0;
  }
  
  .callout::before {
    content: '☝️';
      position: absolute;
      left: .5rem;
      font-size: 24px;
  }
  
  .callout h4 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  

