/* ------ Project Information --------
Name: DigEd Xerte XOT Project Theme
Author: Nan Zhang
Date:
*/


/* Import open props */
@import "https://unpkg.com/open-props";

// /* GOOGLE FONT IMPORT DECLARATION */
// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
// /* Import Google Fonts and materials icons */
// @import url('https://fonts.googleapis.com/css2?family=Georama:wght@600;700;800;900&family=Open+Sans:wght@300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Round');


/* ======================
    CUSTOM PROPERTIES
=======================*/


:root {
/* CU Colours */
--cu-red: hsl(353, 65%, 52%);
--cu-blue: hsl(224, 61%, 34%);
--cu-blue-dark: hsl(222, 44%, 21%);
--cu-sky: hsl(206, 100%, 33%);
--cu-gold: hsl(41, 46%, 57%);
--cu-gold-light: hsl(46, 44%, 69%);
--navy-1:hsl(203, 29%, 28%);
--navy-2:hsl(204, 14%, 46%);
--navy-3:hsl(201, 27%, 20%);

/* Neutral colour */
--black: hsl(340, 5%, 12%);
--white: hsl(0, 0%, 100%);
--light: hsl(210, 17%, 98%);

/* Neutral colour shades */
--neutral-0: hsl(0, 0%, 98%);
--neutral-1:hsl(0, 0%, 96%);
--neutral-2:hsl(0, 0%, 90%);
--neutral-3:hsl(0, 0%, 83%);
--neutral-4:hsl(0, 0%, 64%);
--neutral-5:hsl(0, 0%, 45%);
--neutral-6:hsl(0, 0%, 32%);
--neutral-7:hsl(0, 0%, 25%);
--neutral-8:hsl(0, 0%, 15%);
--neutral-9:hsl(0, 0%, 9%);

// Function colours
--clr-success:hsl(148, 100%, 25%);
--clr-danger: hsl(4, 77%, 48%);

// Gradients
--gradient-text: var(--gradient-23);
--gradient-image: url('https://images.unsplash.com/photo-1614850523459-c2f4c699c52e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');


// Images
--main-logo: url("https://dandange8005.github.io/CU-Xerte-Themes/Assets/images/CU-logo.svg");
    
/* XOT Project Theme */
/* ======================

    XOT Project Custom Properties

    Header
        --clr-header-bg
        --clr-header-title
        --logo
    Footer
        --clr-footer-bg
    Body
        --clr-body-bg
        --clr-body-text
        --clr-body-title
    link
        --clr-link
        --clr-link-visited
    button
        --clr-btn
        --clr-btn-hover
    Typography
        --ff-body
        --ff-heading
        --ff-mono
        --ff-serif



*/




--clr-primary: var(--cu-red);
--clr-accent: var(--cu-blue);
--clr-header-bg: var(--gradient-23);
--clr-footder-bg: var(--gray-4);
--clr-main-bg: var(--light);
--clr-body: var(--neutral-8);
--clr-link: var(--cu-sky);
--clr-border: hsl(216, 12%, 84%);
--clr-heading: var(--navy-1);
--clr-headershade: var(--navy-2);
--clr-panelborder: var(--gray-5);
--clr-shaded: #f2f2f2;

// button colours
--clr-btn: var(--clr-heading);
--clr-btn-rollover: var(--clr-headershade);


// Typography
--ff-sans: var(--font-sans);
--ff-serif: var(--font-serif);
--ff-mono: var(--font-mono);

// Fluid font size
--fs-xs: clamp(0.74rem, 0.72rem + 0.08vw, 0.78rem);
--fs-sm: clamp(0.83rem, 0.79rem + 0.20vw, 0.94rem);
--fs-base: clamp(0.94rem, 0.86rem + 0.37vw, 1.05rem);
--fs-lg: clamp(1.06rem, 0.94rem + 0.58vw, 1.35rem);
--fs-xl: clamp(1.19rem, 1.02rem + 0.85vw, 1.62rem);
--fs-2xl: clamp(1.34rem, 1.10rem + 1.19vw, 1.94rem);
--fs-3xl: clamp(1.50rem, 1.18rem + 1.62vw, 2.33rem);
--fs-4xl: clamp(1.69rem, 1.26rem + 2.17vw, 2.80rem);

// Spacing
--gap: var(--size-fluid-1);

// Container
--container-width: 47rem;
}