/* ==========================================================================
  #TOOLS
========================================================================== */

// Focused state for accessibility


// Focused links

// Focused buttons

// Footer focused buttons

#x_footerBlock button:focus {
    background-color: var(--clr-focus);
    box-shadow: 0 -2px var(--clr-focus), 0 var(--focus-width) var(--clr-focus-text);
    color: var(--clr-focus-text) !important;
    outline: var(--focus-width) solid transparent;
    outline-offset: var(--focus-width);
}
