/* ======================
    BASE - MEDIA

    - images
    - figures
    - video
    - embeded links

=======================*/

// Image and Figures
img {
    height: auto;
}


figure.image {
    margin: 0;
    max-width: max-content;
}

figcaption {
    background: var(--gray-2);
    color: var(--text-3);
    font-size: var(--fs-sm);
    padding: var(--size-2);
    caption-side: bottom;
}

// utility classes
.image-inline {
    display: inline-block;
}

.image-full {
    width: 100%;
    height: auto;
}

.image-round {
    border-radius: var(--radius-2);
}

/* Styles to the screenshots */
.image-screenshots {
    border: 1px solid var(--clr-border);
    margin: 2rem auto;
    clear: both;
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
}

/* Media - iframe Block */

/* iframe Block */

// to restrict video size
.video-720 {
    max-width: 720px;
    aspect-ratio: 16 / 9;
}

.iframe-block {
    height: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.32%;
    box-shadow: var(--shadow-3);

    iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 0;
    }

    &--xerte,
    &--h5p {
        border: 4px solid var(--clr-border);
    }

    &--xerte {
        padding-bottom: 75%;
    }

    &__caption {
        background: var(--light);
        color: var(--clr-body);
        font-style: italic;
        font-size: var(--fs-sm);
        padding: 4px;
        margin-top: 0;
    }
}
