/* ==========================================================================
  # BASE / # TYPOGRAPHY
========================================================================== */

/* ==================
    HEADINGS
=================== */

h1,
h2,
h3:not(.ui-accordion-header),
h4,
h5,
h6 {
    font-family: var(--ff-headline);
    font-weight: 700;
    color: var(--clr-headline);
    margin-bottom: var(--size-fluid-1);
    // margin-top: var(--size-fluid-2)
}

h1 {
    font-size: var(--fs-3xl);
    line-height: var(--font-lineheight-0);
}

h2 {
    font-size: var(--fs-2xl);
    line-height: var(--font-lineheight-1);
}

h3:not(.ui-accordion-header) {
    font-size: var(--fs-xl);
    line-height: var(--font-lineheight-2);

}

h4 {
    font-size: var(--fs-lg);
    line-height: var(--font-lineheight-3);
}

h5 {
    font-size: 1.25rem;
}

// page title
#pageContents .page-title {
    font-size: var(--fs-3xl);
    color: var(--primary);
    font-weight: 900;
    max-width: var(--size-header-3);
    margin-block: var(--size-fluid-3);
    // text-transform: uppercase;
}

/* ==================
    PARAGRAPHS
=================== */

#x_mainHolder p + p {
    margin-top: 1rem;
}

/* ==================
    LINKS
=================== */

a {
    color: var(--clr-link);
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

a:hover,
a:focus {
    text-decoration: underline;
    text-decoration-thickness: max(0.08em, 1.5px);
    text-underline-offset: 0.15em;
    color: var(--clr-link);
}

a:visited {
    color: var(--clr-link-visited);
}



// a[href^="mailto"]::before {
//     content: "\f0e0";
//     font-family: "Font Awesome 5 Free";
//     font-weight: 900;
//     margin-right: var(--size-1);
//     font-size: var(--fs-xs);

// }

// a[target='_blank']:hover::after,
// a[target='_blank']:focus::after {
//     content: "\f35d";
//     font-family: "Font Awesome 5 Free";
//     font-weight: 900;
//     margin-left: var(--size-1);
//     font-size: var(--fs-xs);
// }

// a[href^="mailto"]:hover::before,
// a[href^="mailto"]:focus::before,
// a[target='_blank']:hover::after,
// a[target='_blank']:focus::after,
// .action-link:hover::before,
// .action-link:focus::before {
//     text-decoration: none;
//     display: inline-block;
// }

/* External link */

a.link-external {
    display: inline-block;
    align-items: center;
    gap: var(--size-1);
}

a.link-external::after {
    content: "\f35d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    margin-left: 4px;
    transform: translateY(-3px);
    display: inline-block;
}

a.link-external:hover::after {
    text-decoration: none;
    display: inline-block;
}

/* action link */
a.link-action {
    display: inline-block;
}

a.link-action::before {
    content: "\f0a9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: var(--size-2);
    color: var(--clr-success);
    font-size: var(--fs-lg);
}

a.link-action:hover::after,
a.link-action:focus::after {
    content: none;
}


/* ==================
    BLOCKQUOTE
=================== */

blockquote {
    margin-left: 0;
    padding: 0.5rem 1rem;
    border-left: 5px solid var(--primary);
    font-family: var(--ff-serif);
    font-size: var(--fs-lg);
    line-height: 1.625;
}

/* ==================
    CODE
=================== */

code {
    background-color: var(--clr-code-bg);
    color: var(--clr-code-text);
    padding: 0.25rem;
}

/* ==================
    PRE
=================== */

pre {
    background-color: var(--clr-code-bg);
    color: var(--clr-code-text);
    padding: 1rem;
    white-space: pre-wrap;
}

/* ==================
    HR  
=================== */

hr {

    margin-block: var(--size-fluid-2);
    border: none;
    border-top: 1px solid var(--clr-border);

    &.break-l {
        margin-block: var(--size-fluid-4);
    }
    
    &.break-m {
        margin-block: var(--size-fluid-3);
    }
    
}



/* ==================
    TABLE
=================== */

table {
    background: var(--white);
    box-shadow: var(--shadow-2);
    font-size: var(--fs-sm);
}

table,
table tr,
table td {
    border: none;
}

thead th {
    background: var(--clr-headershade);
    color: var(--light);
    font-weight: bold;
}

table tr td:not(:first-of-type) {
    border-left: 1px solid var(--clr-border);
}

thead th:not(:first-of-type) {
    border-left: 1px solid var(--light);
}

table tr:nth-child(even) {
    background: var(--light);
}

/* ==================
    LIST
=================== */

ul,
ol {
    padding: 0;
    padding-left: var(--size-5);
    display: grid;
    gap: var(--size-1);
}

ul#tabHolder,
ul.tabList {
    display: block;
}

li {
    line-height: var(--font-lineheight-3);
}

ul li,
ol li {
    padding-left: var(--size-2);
}

li ul {
    margin-top: var(--size-1);

}

// Utility classes for list

.list-none {
    list-style-type: none;
    padding: 0;
}

// Icon list
.list-icon {
    margin-left: 0;
    padding-left: var(--size-1);

    li {
        display: flex;
    }

    li span {
        margin-right: var(--size-3);
        color: var(--neutral-7);
        font-size: var(--fs-lg);
        margin-top: 3px;
        line-height: 0;
    }

}

// Counter list
.list-counter {
    counter-reset: orderedlist;
    list-style-type: none;
    margin-left: 0;
    padding-left: var(--size-1);
    // display: grid;
    // gap: 1em;

    li {
        position: relative;
        padding-left: 2.5rem;
    }

    li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        width: var(--size-5);
        height: var(--size-5);
        background: var(--gray-2);
        color: var(--gray-7);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
    }
}


/* ==================
    MISC
=================== */

// small {
//     font-size: 0.8rem;
// }

// strong {
//     font-weight: bold;
// }

// em {
//     font-style: italic;
// }

// sup {
//     font-size: 0.8rem;
//     vertical-align: super;
// }

// sub {
//     font-size: 0.8rem;
//     vertical-align: sub;
// }

